# Dependencies

In [3]:
import pandas as pd

# URL iris dataset

In [4]:
url = 'big_iris.csv'

# Converting iris dataset to dataframe

In [ ]:
df = pd.read_csv(url)
len(df)

# Generating two new features

In [12]:
%%time

df['sepal.area'] = df['sepal.length'] * df['sepal.width']
df['petal.area'] = df['petal.length'] * df['petal.width']
df.head()

CPU times: user 94.8 ms, sys: 275 ms, total: 370 ms
Wall time: 2.43 s

,sepal.length,sepal.width,petal.length,petal.width,variety,sepal.area,petal.area
0,5.1,3.5,1.4,0.2,Setosa,17.85,0.28
1,5.1,3.5,1.4,0.2,Setosa,17.85,0.28
2,5.1,3.5,1.4,0.2,Setosa,17.85,0.28
3,5.1,3.5,1.4,0.2,Setosa,17.85,0.28
4,5.1,3.5,1.4,0.2,Setosa,17.85,0.28